/* === FONTS === */

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(../fonts/source_sans_pro_200.woff) format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/source_sans_pro_400.woff) format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/source_sans_pro_600.woff) format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/source_sans_pro_700.woff) format('woff');
}

$source_sans_pro-light : "SourceSansPro-ExtraLight", Helvetica, Arial, sans-serif;
$source_sans_pro-regular : "SourceSansPro-Regular", Helvetica, Arial, sans-serif;
$source_sans_pro-black : "SourceSansPro-Bold", Helvetica, Arial, sans-serif;
$source_sans_pro-bold : "SourceSansPro-Semibold", Helvetica, Arial, sans-serif;