/* --------- LAYOUT --------- */

.container {
	width: 100%;
}

#wrapper {
	@include outer-container;
}

.columns {
	@extend #wrapper;
}

.element {
	padding-top: 50px;
}

.no-padding {
	padding-top: 0px;
}

.single-column {
	@include span-columns(12);

	&.small {
		@include span-columns(6);
		@include shift(3);
	}
	
	&.medium {
		@include span-columns(8);
		@include shift(2);
	}
}

.two-columns {
	@include span-columns(6);

	&.small {
		@include span-columns(4);
	}

	&.big {
		@include span-columns(8);
	}

	&:last-child, &.last {
	}
}

.three-columns {
	@include span-columns(4);

	&:last-child, &.last {
	}
}

.four-columns {
	@include span-columns(3);

	&:last-child, &.last {
	}
}

.special {
	background: $color-main;
	padding: $gutter 0;
	text-align: center;

	p {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		font-size: 22px;
		line-height: 1.8;
		color: #fff;
	}

	.cta {
		background-color: white;
		color: black;

		&:hover {
			background-color: #f1f1f1;
			color: $color-main;
			opacity: 1;
		}
	}
}

