@import '../../neat/app/assets/stylesheets/neat';

// Change the grid settings
$column: 50px;
$gutter: 32px;
$grid-columns: 12;
$max-width: em(960);

// Define your breakpoints
$tablet-big: new-breakpoint(max-width 1084px 12);
$tablet-small: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 1);
