/* --------- CALL TO ACTION --------- */

.cta {
	background: $color_main;
	color: $grey_light;
	display: block;
	padding: 0px 22px;
	font-family: $source_sans_pro-regular;
	font-size: 18px;
	line-height: 38px;
	display: inline-block;
	@include transition(all 0.2s ease-in-out);

	&.full {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		text-align: center;
	}
	
	&:hover {
		opacity: 0.8;
		color: #fff;
	}
}