/* --------- FOOTER --------- */

footer {
	width: 100%;
	background-color: $grey_dark;
	color: $grey_light;
	padding: $gutter 0;
	text-align: center;

	.simple {
		text-align: center;
		display: block;
		
		ul {
			text-align: center;
		}

		li {
			display: inline-block;
			margin-right: $gutter;
			margin-bottom: $gutter;

			&:after {
				content: '|';
				margin-left: $gutter;
			}

			&:last-child:after {
				content: '';
				margin: 0;
			}
		}
	}	

	a {
		color: white;

		&:hover {
			color: $color-main;
		}
	}
}

.footer_menu_bottom {
	text-align: center;
	width: auto;
	margin: 0 auto;	

	li {
		border-bottom: 1px solid #434343;
		@include span-columns(3);
		@include omega(4n);

		a {
			display: block;
			padding: 7px 0;
			color: white;
			text-transform: uppercase;
			font-size: 13px;
			@include transition(all 0.2s ease-in-out);

			&:hover {
				color: $color-main;
			}
		}
	}
}

.partners {
	@include inline-block;

	span {
		display: inline-block;
		vertical-align: top;
		padding: 0 $gutter;
		line-height: 40px;
		font-size: 14px;
	}

	a {
		display: inline-block;
		vertical-align: top;
		&#jesus_net {
			background: url(../images/sprites.png) no-repeat -18px -94px;
			width: 150px;
			height: 33px;
			text-indent: -9999px;
			margin-top: 3px;
		}
	}
}