/* --------- HEADLINE --------- */

#main_image {
	
	div {
		position: absolute;
		left: 50px;
		bottom: 50px;

		&.right {
			right: 50px;
			text-align: right;

			h1 {
				text-align: right;
			}
		}

		&.center {
			width: 100%;
			left: 0;
			text-align: center;

			h1 {
				text-align: center;
			}
		}

		&.top {
			top: 50px;
		}

		h1 {
			color: white;
			font-family: $source_sans_pro-light;
			font-size: 64px;
			line-height: 64px;
			margin: 0 0 12px 0;

			&.dark {
				color: $grey_dark;
			}

			&.small {
				font-size: 32px;
				line-height: 32px;
				text-transform: none;
				font-family: $source_sans_pro-regular;
			}
		}
	}

	section {
		position: absolute;
		left: 50%;

		div {
			left: 0;
		}

		&.right {
			
			div {
				right: 0;
				text-align: right;
			}

			h1 {
				text-align: right;
			}
		}

		&.center {
			width: 100%;
			left: 0;
			margin-left: 0;
			
			div {
				width: 100%;
				left: 0;
				text-align: center;
			}

			h1 {
				text-align: center;
			}
		}

		&.top {
			top: 0;
			
			div {
				top: 50px;
			}
		}
	}
}