/* --------- IMAGE --------- */

.main-image {
	position: relative;

	&.small {
		@extend #wrapper;

		.txt {
			left: $gutter*2;
			width: 40%;
		}
	}

	&.full {

		.txt {
			@extend #wrapper;
			left: 50%;
			margin-left: -($max-width/2);

			div {
				@include span-columns(6);

				&.left {
					float: left;
				}

				&.center {
					@include shift(3);
				}

				&.right {
					float: right;
				}

				&.top {
					margin-top: $gutter*3;	
				}

				&.middle {
					top:0px;
				}

				&.t_center {
					text-align: center;

					p {
						text-align: center;
					}
				}

				&.t_right {
					text-align: right;
					
					p {
						text-align: right;
					}
				}
			}
		}
	}

	img {
		width: 100%;
	}

	.txt {
		position: absolute;
		top: 0;
		left: 0;

		p {
			margin-bottom: $gutter;
			font-size: 22px;
			line-height: 1.5;
			color: #fff;
			text-shadow: rgba(#000, 0.2) 1px 1px;
		}
	}
}