/* --------- TYPOGRAPHY --------- */

body {
	font-size: 16px;
	color: $grey_dark;
	font-family: $source_sans_pro-regular;
}

h1 {
	display: none;
}

h2, h3, h4, h5, h6 {
	font-family: $source_sans_pro-bold;
	text-transform: uppercase;
}

h2 {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 10px;
}


h3 {
	font-family: $source_sans_pro-light;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 10px;

}

h4 {
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 6px 0;
}

h5 {
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 6px 0;
	color: $color-main;
}

h6 {
	font-size: 16px;
	line-height: 16px;
	margin: 0 0 6px 0;
	color: $color-main;
	text-transform: none;
}

.content {

	p { 
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: $gutter;
	}
}

.columns {

	h2, h3 {
		text-align: left;
	}
}